html{
  color:; 
  font-family: sans-serif;
  font-size:16px;
  font-weight: ;
}
.nav{
    height:64px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-icons{
    display:none;
}
.nav .logo{
    display: flex;
    align-items: center;
   
   
}
.nav .logo ul{
    padding:0;
    font-size:32px;
    text-transform: uppercase;
}
.nav .logo ul.bold{
    font-weight:bold;
}
.regular{
    opacity:30%;
}
.navbar{
    display:flex;
    
}
.navbar a{
    font-size: 32px;
    color: black;
    text-decoration: none;
    padding-left:16px;
    
}
.navbar .cta{
    padding-right: 24px;
}
/* Nav bar Resposive Design*/
@media screen and (max-width:768px){
    .nav{
        display:block;
    }
    .navbar {
        display:none;
    }
    .nav .logo {
        display:none;
    }
    .nav .nav-bar-mobile{
        display: infline-flex;
        height: 64px;
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .nav-bar-mobile .logo-icon{
        float:left;
    }
    .nav-bar-mobile .login-icon{
        float:right;
    }

}
/* Desktop view */
@media screen and (min-width:768px) and (max-width:1600px){
    .nav-bar-mobile{
        display: none;
    }
}


.hero{
    display:inline-flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
}
.hero-text{
  display: flex;
  flex-direction: column;
  align-content: left;
  text-wrap:wrap;
  width: 40%;
  opacity: 70%;
  padding-right: 56px;
  
}
.hero-text h1{
    font-size:3rem;
    line-height: 1;
    margin-bottom:0;
    width:85%;
}
.hero-text p{
    font-size: 2rem;
    line-height: 1;
    width:85%
}
.hero img{
    padding: 32px 24px;
    width:60%;
}
.hero button{
    background-color: #343333;
    padding: 8px;
    width:85%;
    font-size:1.75em;
    color:white;
    border: none;
}
/*Responsive Design for Hero section*/
/*mobile*/

@media screen and (max-width:768px) {
    .hero{
        display:block;

    }
    .hero img{
        width:100%;
        padding:0px;
    }
    .hero-text{
        padding:32px 16px;
        width: 100%;
        text-wrap:wrap;
        align-self:center;
        line-height: 2em;
    }
    .hero-text h1{
        font-size:2em;
        margin:auto;
        padding-bottom: 1em;
    }
    .hero-text p{
        font-size:1.125em;
        margin:auto;
    }
    .hero button{
        width:90%;
        align-items: center;
        font-weight:500;
        color: white;
        margin-top: 24px;
        align-self: center;
    }
}

.information{
    display:flex;
    flex-direction:row;
    padding-top: 32px;
    padding-bottom:32px;
    line-height: 2;
}
.information .information-text{
    display:flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
    padding-right: 24px;
    padding-left: 24px;
}
.information-text img{  
}
.information-text h2{
    font-size: 2rem;
    padding-top: 32px;
    font-weight: 600;
    margin: 0;
}
.information-text p{
    padding-top: 24px;
    margin:0;
}
.information-card-container{
    display: flex;
    flex-direction:row;
    padding: 16px;
}
.information-card{
    /*width:40%;
    padding:0;*/
}
.information-card-text{
    width:65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:16px;
}
.information-card-container img{
    width:35%;
    height:auto;
    
}
.information-card-container.our-guest{
    background-color: whitesmoke;
}

.information-card-container .title {
    font-size:1.75rem;
    opacity: 70%;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.information-card-container h4{
    opacity: 70%;
    font-weight:400;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.information-card-container a{
    font-weight:500;
    text-decoration: none;
    color:blue;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Responsive Design for Information Section*/
/* desktop design*/
@media only screen and (min-width:768px) and (max-width:1600px){
    .information-card {
        width: 40%;
        padding: 0;
    }
}
/* mobile design*/
@media only screen and (max-width: 768px) {
    .information .information-text{
        display:none;
    }
    /* Make the information cards stack on top of each other */
    .information{
        display:block;
    }
    .information-card-container{
        display:flex;
        flex-direction: column;
        column-gap: 60px;
        width: 100%;
        padding:16px;
        padding-bottom:0px;
        
    }
    .information-card-container img{
        width: 100%;
    }
}



.courses{
    padding:32px 72px;
    background-color: whitesmoke;
}
.course-heading{
    text-align: center;
    font-weight: bold;
    opacity: 70%;
}
.course-card-container{
    display:inline-flex;
    flex-flow: row wrap;
    gap: 32px;
    
}
.course-card img{
    height:auto;
    width:100%;
}
.course-card{
    width: calc((100% - 144px) / 3 );
    background-color: white;
    border-radius: 6px;
}
.course-card-text {
    padding:16px;
}
.course-card .course-name{
    opacity: 75%;
    font-weight:600;
    font-size: 1.5rem;
    margin-bottom:8px;
    margin-top:0;
}
.course-card .uppcase{
    text-transform: uppercase;
    font-weight: 400;
    opacity: 70%;
    margin-top:0;
    margin-bottom:8px;
    font-size: 1.125rem;
}
.course-card .course-information{
    font-weight: 400;
    opacity: 70%;
}

.thesis-heading{
    text-align: center;
    font-weight: bold;
    opacity: 70%;
}
.thesis-container {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
}
.thesis-video{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
    padding-right: 24px;
    padding-left: 24px;
}
.thesis-video h2{
    opacity: 70%;
}
.thesis-video p{
    opacity: 70%;
}
.thesis-card-container{
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.thesis-cards img{
    width: 35%;
    height: auto;
}
.thesis-card-text{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}
.thesis-card-text .title{
    font-size: 1.75rem;
        opacity: 70%;
        font-weight: bold;
        padding-top: 0px;
        padding-bottom: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
}
.thesis-card-text h4{
    opacity: 70%;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px
}
.thesis-card-container.fisma {
    background-color: whitesmoke;
}
.footer ul{
    list-style-type: none;
    padding: 16px 24px;
    display:inline-block;
}
.footer .terms{
    float:right;
}
.footer .privacy{
    float: right;
}
